.become-member {
  background: linear-gradient(90deg, #efecff 0%, #c4b8ff 100%);
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  color: #000000;
  position: relative;
}
.become-member .heading {
  width: 64%;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 500;
  font-size: 3.16rem;
  line-height: 120%;
}
.become-member .info {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  width: 64%;
  margin: auto;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Inter', sans-serif;
}
.become-member .center-btn .JoinButton {
  position: unset;
  transform: none !important;
  left: unset !important;
  margin-top: 1.5%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.become-member .design-of-eclipse {
  position: absolute;
  right: 3%;
  top: 0;
}

@media screen and (max-width: 1042px) {
  .become-member .heading {
    font-size: 2rem;
    width: 100%;
  }
  .become-member .info {
    width: 100%;
  }
  .become-member .design-of-eclipse{
    display: none;
  }
}
