.Comm-container {
  /* margin-top: 10%; */
  /* margin-bottom: 10%; */
  width: 100%;
  position: relative;
  /* top: 32vh; */

  z-index: 0;
  height: max-content;
  /* background-color: rgba(0, 255, 255, 0.509); */
}
.Comm-container > .block-container {
  padding-top: 10%;
}
@media screen and (max-width: 768px) {
  .Comm-container > .block-container {
    padding-top: 0;
  }
}
/* @media screen and (min-width: 1400px) {
  .Comm-container > .block-container {
    padding-top: 10%;
  }
}
@media screen and (min-width: 1500px) {
  .Comm-container > .block-container {
    padding-top: 11%;
  }
}
@media screen and (min-width: 1600px) {
  .Comm-container > .block-container {
    padding-top: 12%;
  }
}
@media screen and (min-width: 1700px) {
  .Comm-container > .block-container {
    padding-top: 13%;
  }
}
@media screen and (min-width: 1800px) {
  .Comm-container > .block-container {
    padding-top: 14%;
  }
}
@media screen and (min-width: 1920px) {
  .Comm-container > .block-container {
    padding-top: 15%;
  }
}
@media screen and (min-width: 2160px) {
  .Comm-container > .block-container {
    padding-top: 20%;
  }
} */

.Comm-container .container {
  width: 80% !important;
  max-width: 80% !important;
  padding-left: 0;
}
@media screen and (max-width: 960px) {
  .Comm-container {
    width: 100%;
    height: max-content;
    /* top: 34vh; */
  }
  .Comm-container .container {
    width: 80% !important;
    max-width: 80% !important;
    padding-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .Comm-container {
    width: 100%;
    height: max-content;
    /* top: 25vh; */
  }
  .Comm-container .container {
    width: 87% !important;
    max-width: 87% !important;
    padding-left: 0;
  }
}
.column-container {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
@include media-breakpoint-up(md) {
  .column-container {
    padding: 0 !important;
  }
}

.JoinButton2 {
  background-color: #000 !important;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  width: 178px !important;
  height: 52px !important;
  border-radius: 12px !important;
}
@media screen and (max-width: 576px) {
  .JoinButton2 {
    width: 100% !important;
    position: relative;
  }
}
.com-sports-content-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.com-sports-content-container p {
  font-family: "Inter", sans-serif;
}
.com-sports-content {
  padding-top: 30%;
  padding-bottom: 35%;
}
.com-sports-content h2 {
  font-weight: 500;
  font-size: 3.12rem;
  line-height: 3.85rem;
  max-width: 460px;
  padding-bottom: 32px;
  text-align: start;
}
.com-sports-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding-bottom: 48px;
  text-align: start;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 576px) {
  .com-sports-content {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .com-sports-content h2 {
    font-size: 1.625rem;
    line-height: 1.95rem;
    max-width: 327px;
    padding-bottom: 27px;
  }
  .com-sports-content p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 29px;
  }
}
.img-container {
  /* width: 100%;
  height: 100%;
  margin: 0 auto;
  columns: 2;
  column-gap: 5% !important;
  column-width: 36%;
  padding: 0 41px; */

  width: 100%;
  height: 100%;
  margin: 0 auto;
  columns: 2;
  column-gap: 12.5% !important;
  column-width: 36%;
  margin-left: 6%;
}

.img-container img {
  margin-bottom: 11%;
  z-index: 5;
  /* width: 100%; */
  width: 118%;
}
.mobile-img-container {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile-img-container {
    display: block;
    margin: 15% 0;
    width: 100%;
  }
  .mobile-img-container img {
    display: block;
    margin: 0 auto 0 0;
    width: 80%;
  }
  #left-container-img {
    display: none;
  }
}
