.footer-home{
    display: block;
    background: #7B61FF;
    padding-top: 6%;
    padding-bottom: 2%;
    color: white;
}
.footer-home .column-right{
    text-align: right;

}
.footer-home .copyright-text{
    font-size: 0.95rem;
    font-weight: 400;
}
.footer-home .social-media img{
    margin-left: 2.25rem;
}
hr{
    height:1px;
    background: rgba(255, 255, 255, 0.1);
}