.footer-home{
    display: block;
    background: #7B61FF;
    padding-top: 6%;
    padding-bottom: 2%;
    color: white;
    
}
.footer-home .column-right{
    text-align: right;
    font-family: 'Inter', sans-serif;
}
.footer-home .column-right a{
    text-decoration: none;
    color: white;
}
.footer-home .copyright-text{
    font-size: 0.95rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.footer-home .social-media img{
    margin-left: 2.25rem;
}
@media screen and (max-width:992px) {
    .footer-home{
        text-align: center;
    }
    .footer-home .column-right{
        text-align: center;
    }
    .footer-home .booksportslogo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }    
    .footer-home .social-media img{
        margin-left: 1.125rem;
        margin-right: 1.125rem;
        margin-bottom: 1rem;
    }
    
}

hr{
    height:1px;
    background: rgba(255, 255, 255, 0.5);
}