.bigText {
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem !important;
  color: #000;
  line-height: 4.305rem;
}
.homePageContents {
  /* position: relative; */
  z-index: 1;
  width: 100%;
  height: 133vh;
  /* height: 133vh;
  min-height: 640px; */
}

@media screen and (max-width: 992px) {
  .homePageContents {
    height: 78vh;
  }
}
@media screen and (max-width: 768px) {
  .homePageContents {
    height: 78vh;
  }
}
@media screen and (max-width: 576px) {
  .homePageContents {
    height: 78vh;
  }
}

.HomeMainContent {
  margin-top: 9%;
  /* position: absolute; */
  /* top: 10%; */
  /* from 15% */
  /* left: 50%; */
  /* transform: translate(-50%, 0%); */
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .HomeMainContent {
    margin-top: 134px;
  }
}

.smallText {
  font-weight: 400;
  font-size: 1.125rem;
  width: max-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  color: #000;
}

@media screen and (max-width: 992px) {
  .smallText {
    width: 100%;
  }
  .desktop-screen-break {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .smallText {
    width: 100%;
  }
  .bigText {
    line-height: 2.92125rem;
    font-size: 2.375rem !important;
  }

  .HomeMainContent {
    /* top: 10%; */
  }
}
.join-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.JoinButton {
  background-color: #000 !important;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  margin-top: 1.5vh;
  /* position: relative; */
  /* top: 1.5vh !important;
  left: 50% !important; */
  /* transform: translateX(-50%) !important; */
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 0px !important;
  width: 11.25rem !important;
  /* height: 6vh !important; */
  margin-bottom: 1rem !important;
  border-radius: 12px !important;
  /* width: 178px !important; */
  height: 3.25rem !important;
}
.desktop-screen-break {
  height: 0;
}
@media screen and (max-width: 576px) {
  .JoinButton {
    width: 100% !important;
    border-radius: 8px !important;
  }
  .desktop-screen-break {
    display: none;
  }
}
.join-btn-text {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500 !important;
  font-size: 1rem !important;
}
/* new */
.mockup-background-container {
  /* position: relative; */
  height: max-content;
  /* height: 97vh;
  min-height: 865px; */
  width: 100%;
}

/* @media screen and (max-width: 1200px) {
  .mockup-background-container {
    height: 80vh;
    min-height: 600px;
  }
}

@media screen and (max-width: 992px) {
  .mockup-background-container {
    height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .mockup-background-container {
    height: 47vh;
    min-height: 240px;
  }
}
@media screen and (max-width: 576px) {
  .mockup-background-container {
    height: 32vh;
    min-height: 240px;
  }
} */
.HomeMainContentBackground {
  /* position: relative; */
  /* top: 10%; */
  margin: 0 auto;
  margin-top: 5%;
  height: 90%;
  /* width: 80%; */
  background: rgba(255, 255, 255, 0.7);
  /* z-index: -1; */
  /* left: 50%;
  transform: translateX(-50%); */
}
@media screen and (max-width: 576px) {
  .HomeMainContentBackground {
    /* width: 87%; */
    top: 10%;
  }
}

.mobile-mockup-container {
  /* position: absolute; */
  /* bottom: 0; */
  /* top: 20%; */
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  /* gap: 3%; */
  width: 100%;
  align-items: flex-start;
  padding-bottom: 36px;
}
.mobile-mockup-container img:nth-of-type(1) {
  margin-right: 2.5%;
}
.mobile-mockup-container img:nth-of-type(2) {
  margin-left: 2.5%;
}

.mobile-mockup-container img {
  /* margin-left: 2vw;
  margin-right: 2vw; */
  width: 30%;
  z-index: 1;
  /* position: relative; */
  box-shadow: 7.69px 14.42px 23.06px rgba(26, 34, 56, 0.16);
}
@media screen and (max-width: 800px) {
  .mobile-mockup-container img {
    /* margin-left: 2vw;
    margin-right: 2vw; */
    width: 31%;
  }
}
@media screen and (max-width: 576px) {
  .mobile-mockup-container img {
    /* margin-left: 2vw;
    margin-right: 2vw; */
    width: 31%;
  }
  .mobile-mockup-container {
    top: 20%;
  }
}

.mockup-icon-left {
  position: absolute;
  top: 32%;
  left: 12.8%;
  z-index: 4;
  width: 9% !important;
  box-shadow: none !important;
}

.mockup-icon-right {
  position: absolute;
  top: 40%;
  left: 39.5%;
  z-index: 4;
  width: 9% !important;
  box-shadow: none !important;
}
@media screen and (max-width: 960px) {
  .mockup-icon-left {
    top: 32%;
    left: 12.8%;
    width: 10%;
  }
  .mockup-icon-right {
    top: 40%;
    left: 39.5%;
    width: 10%;
  }
}

@media screen and (max-width: 576px) {
  .mockup-icon-left {
    top: 34%;
    left: 12.2%;
    width: 10%;
  }
  .mockup-icon-right {
    top: 42%;
    left: 40%;
    width: 10%;
  }
}
