.navItems {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.navbarMain {
  transform: translateY(60%) !important;
}

@media screen and (max-width: 1200px) {
  .navItems {
    transform: translateX(-50%);
  }

  .navBrand {
    /* transform: translateX(30%) !important; */
  }
}
@media screen and (max-width: 1080px) {
  .navItems {
    position: relative;
    transform: translateX(0%);
    left: 0;
  }
  .navbarMain {
    transform: translateY(0%) !important;
    padding-top: 1.5rem !important;
  }

  .navBrand {
    transform: translateX(0%) !important;
  }
}
@media screen and (max-width: 576px) {
  .navItems {
    position: relative;
    transform: translateX(0%);
    left: 0;
  }
  .navBrand {
    transform: translateX(0%) !important;
    padding-left: 3% !important;
  }
  .navbarMain{
    transform: translateY(0%);
  }
}

/* .navBrand {
  transform: translateX(50%);
} */

.nav-toggle {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.navLink {
  font-weight: 600 !important;
  font-size: 1rem !important;
  line-height: 1.25rem !important;
  color: black !important;
}
#basic-navbar-nav{
  margin-top: 0.6%;
}