.newsletter-container {
  margin: 3rem auto;
  width: 80% !important;
  background-color: #3671d5;
  border-radius: 15px;
  height: max-content;
  min-height: max-content;
  /* max-height: 450px; */
}

.newsletter-container p {
  letter-spacing: 2px;
  font-size: 1.125rem;
  text-align: center;
  color: #fff;
  padding-top: 5%;
}
.newsletter-container h1 {
  font-size: 2.75rem;
  text-align: center;
  color: #fff;
  font-style: italic;
  line-height: 3.375rem;
  width: 55%;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .newsletter-container {
    width: 95% !important;
  }
  .newsletter-container h1 {
    font-size: 2rem;
    line-height: 3.375rem;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .newsletter-container {
    width: 95% !important;
  }
  .newsletter-container h1 {
    font-size: 2rem;
    line-height: 3.375rem;
    width: 100%;
    margin: 0 auto;
  }
}
#email-input {
  min-width: 465px;
  width: 40%;
  margin: 2% 10px;
  background-color: #f7f7f7;
  border-radius: 100px;
  height: 3.5rem;
  display: inline-block;
}
#email-input-btn {
  min-width: 160px;
  width: 15%;

  margin: 2% 10px;
  background-color: #ffa042;
  color: #fff;
  border-radius: 100px;
  height: 3.5rem;
  display: inline-block;
  border: none;
  outline: none;
  box-shadow: none;
}
#email-input::placeholder {
  padding-left: 20px;
}
@media screen and (max-width: 576px) {
  #email-input {
    min-width: 290px;
    width: 100%;
    margin: auto;
    display: inline;
  }
  #email-input-btn {
    width: 100%;
    min-width: 160px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
  }
}
