.pricing-section{
    text-align: center;
    background: white;
}
.pricing-section .pricing-tagline{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #7B61FF;
}
.pricing-section .pricing-heading{
    font-weight: 500;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: #000000;
}
.pricing-section .tab-section{
    background: #ededed;
    border-radius: 159px;
    width: 260px;
    height: 60px;
    margin: auto;
}
.pricing-section .tab-section-monthly{
    margin: 0;
    transform:  translateY(65%);
}
.pricing-section .tab-section-yearly{
    background: white;
    margin: 0;
    width: 130px;
    transform:  translate(-5%, 5%);
    border-radius: 100px;
    padding: 15px;
}
.pricing-section .pricing-table{
    text-align: left;
    margin: auto;
    width: 80%;
}