.our-supporters{
    background:white;
    padding-top: 10%;
    padding-bottom: 8%;
}

.our-supporters .tagline1{
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #7B61FF;
}
.our-supporters .tagline2{
    font-weight: 500;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: #000000;
}
.our-supporters .supporter-response-card{
    padding: 1.5rem;
    background: #FAF9FF;
}
.our-supporters .supporter-response-card .description{
    min-height: 80px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 17px;
    color: #000000;
}

.our-supporters .supporter-response-card .intro{
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 17px;
    color: #000000;
    opacity: 0.5;
}