.testimony{
    margin-bottom: 10%;
}
.testimony img{
    width: 100%;
}
.testimony .testimony-desktop{
    width: 53%;
    margin: auto;
}

@media screen and (max-width : 800px) {
    .testimony .testimony-desktop{
        width: 75%;
    }
}

.testimony .testimony-mob{
    display: none;
    width: 100%;
    margin: auto;
}
@media screen and ( max-width : 500px ) {
    .testimony .testimony-desktop{
        display: none;
    }
    .testimony .testimony-mob{
        display: block;
        margin-bottom: 20%;
    }
    
}